body{
margin-top: 60px;
background-color:#FFD496;
background-color:white;
overflow-x: hidden;
width: 100%;
font-family:'Montserrat',sans-serif;
text-align: center;
}
p{
  font-size:1rem;line-height:1.2;font-family:'Montserrat',sans-serif;
}

.background{
  /* background-image: url('images/bgl.png'); */
  background-color: #32e0c4;

}

.carousel-body{
  padding:20px 40px 40px 40px;
  text-align: center;
}
.dropdown-item, .nav-item{
  font-family: 'Montserrat', sans-serif;
}
.dropdown-item{
  color:#2d4059;
}
.dropdown-item:hover{
  background-color:#5eaaa8;
}
.Search.active{
  width: 100px;
}
.Search input{

}
#particles-js{
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: auto;
  height: 100%;
  width: 100%;
}
section {
  padding-top: 20px;
}
#header {
  display: flex;
  align-items: center;
}
#intro {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
}
#about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#intro > div:nth-child(1) {
  width: 50%;
  height: 100vh;
  padding: 20px;
  background-color: rgb(247,200,64);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#intro > div:nth-child(2) {
  width: 50%;
  background-color: rgb(247,200,64);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#first {
  height: auto;
}
.wrap {
  display: flex;
  flex-direction: column;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2em;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.boxes-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-gap: 2em;
  justify-content: center;
}
.boxes-3{
  background-color: #32e0c4;
  padding: 8px;
  overflow: hidden;
  width:100%;
}
.box {
  background-color: rgb(247,200,64);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.25s ease-in;
}
.box-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out;
}
.box-1{
  text-align:center;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;

}
.box-appear {
  opacity: 1;
  transform: translateY(0);
}
#header {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 0;
}
#copyright {
  background-color: rgb(23,23,23);
  color: white;
  padding: 20px;
  display: block;
}
#copyright > p {
  font-size: 15px;
}
h1 {
  font-size: 100px;
}
h2 {
  font-size: 50px;
  padding: 10px;
}

img.size-1 {
  height: 200px;
  margin: 20px;
  border-radius: 20px;
}
img.size-2 {
  width: 30%;
  height: auto;
  margin: 20px;
  border-radius: 20px;
}
img.size-3 {
  width: 400px;
  margin: auto;
}
 img.size-4 {
   width: auto;
   height: 20vh;
   margin: auto;
   padding: 20px;
}
#linkedin {
  width: 120px;
  height: auto;
}
#fb:hover, #linkedin:hover{
  filter: opacity(0.6);
}
.vid {
  width:70%;
  height:70%;
}

.btn {
  padding: 10px;
  background-color: transparent;
  color: white;
  border-radius: 20px;
}
.btn:hover {
  animation: bg-clr 0.5s forwards;
}
@keyframes bg-clr {
  100% {
    background-color: white;
    color: rgb(0,77,162);
   }
}
#fourth {
  background-color: #0072B5;
  color: white;
  padding: 40px;
}
.home {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width:700px) {
  .wrap > section > div.boxes{
    width:85%;
    margin: auto;
overflow: hidden;
  }
.background{
  background-image: url('images/bgl.png');

}


.about{
padding: 12px;
visibility: visible;
}
.info{
  padding: 12px;
  display: flex;
}
